.card-min-width {
    min-width: 300px;
    transition: transform 0.5s ease-in-out;
}

.card-fade {
    -webkit-mask-image: linear-gradient(to right, black 98%, transparent 100%);
    mask-image: linear-gradient(to right, black 98%, transparent 100%);
}
